@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-200: "Noto Sans KR ExtraLight", sans-serif;
  --font-300: "Noto Sans KR Light", sans-serif;
  --font-400: "Noto Sans KR Medium", sans-serif;
  --font-500: "Noto Sans KR Regular", sans-serif;
  --font-600: "Noto Sans KR SemiBold", sans-serif;
  --font-700: "Noto Sans KR Bold", sans-serif;

  --color-main: #0064ff;
  --color-sub: #202632;
  --color-gray: rgb(209, 214, 220);
  --color-white: rgb(255, 255, 255);

  --input-border-color: rgb(192, 192, 192);
}

html,
body {
  width: 100%;
  height: 100%;
}
